html, body {

  background-color: rgb(251, 234, 218);
}

.name-logo {
    font-family: 'Dekko', cursive;
  text-align: center;
  font-size: 90px;
  background:white;


  }


.text-logo {
  text-decoration: underline;
  font-family:'Dekko', cursive;
  text-align: left;
  text-transform: capitalize;
  font-size: 40px;
  background-color:  rgb(251, 234, 218);
}
